<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<div class="footer">
    <div class="info">
      <div class="quick-links">
        <h3>Quick Links</h3>
          <p   style="cursor:pointer;">About us</p>
          <p><a style="text-decoration: none; color:white; cursor:pointer;" >Team</a></p>
          <p><a style="text-decoration: none; color:white; cursor:pointer;" >Events</a></p>
          <p><a style="text-decoration: none; color:white; cursor:pointer;" >Blogs</a></p>
      </div>
      <div class="legal">
        <h3>Legal</h3>
          <p  style="cursor:pointer;">Terms & Conditioins</p>
          <p style="cursor:pointer;">Privacy Policy</p>
      </div>
      <div class="address">
        <h3>Address</h3>
          <p>D.Y.Patil Educational Complex, Akurdi, Sector 29, Ravet Village Rd, Gurudwara Colony, Nigdi, Pimpri-Chinchwad, Maharashtra 411044</p>
      </div>
      <div class="contact">
        <h3>Contact Us</h3>
        <p><a style="text-decoration: none; color:#FF6B00; cursor:pointer;" href="mailto:dypiemrcsi@edu.in">dypiemrcsi@edu.in</a></p>
      <div class="find-us">
        <h3>Find us on:</h3>
        <!-- icons will go here -->
        <img src="" alt="">
        <a  style="color:white;"><i class="fab fa-facebook-f"  ></i></a>
        <a href="https://www.instagram.com/csi_dypiemr/" style="color:white;"><i class="fab fa-instagram"></i></a>
        <a  style="color:white;"><i class="fab fa-youtube"></i></a>
        <a  style="color:white;"><i class="fab fa-linkedin-in"></i></a>
        <a  style="color:white;"><i class="fab fa-github"></i></a>
      </div>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright of Computer Society of India, DYPIEMR {{currentDate}}-{{currentDate+1}}. All rights reserved.</p>
    </div>
  </div>