
<div id="name">
    About us
</div>
<div class="row1">
    <div class="col1">
        <img src="assets/home/about.svg" alt="about" id="img">
    </div>
    <div class="col2">
        <p>
            The seed for the Computer Society of India (CSI) was first shown in the year
            1965 with a handful of IT enthusiasts who were a computer user group and felt the need
            to organize tteir activities.
            They also wanted to share their knowledge and exchange ideas on what they felt was a
            fast emerging sector. Today the CSI takes pride in being the largest and most
            professionally managed association of and for IT professionals in India.

        </p>
        <p>The purposes of the Society are scientific and educational directed towards
            the advancement of the theory and practice of computer science and IT. The organisation
            has grown to an enviable size of 100,000 strong members consisting of professionals with
            varied backgrounds including Software developers, Scientists, Academicians, Project
            Managers, CIO’s , CTO’s & IT vendors to just name a few.
            It has spread its branches all over the country. Currently having 488 student branches
            and rooted firmly at 73 different locations, CSI has plans of opening many more chapters
            & activity centers in smaller towns and cities of the country. The idea is to spread the
            knowledge, and provide opportunities to as many interested as possible.
        </p>
    </div>
</div>