<div class="backProperty">
    <div id="image"></div>
    <div class="data">
        <div class="dataRow">
            <div class="col1">
                <span id='line1'>
                    Welcome To <br>
                    Computer Society Of India
                </span> <br>
                <span id="line2">
                    Dr. D.Y. Patil Institute of Engineering, Management & Research
                </span> <br>
                <span id="line3">
                    Keeping in mind the interest of the IT professionals & computer users CSI works towards making the
                    profession an area of choice amongst all sections of the society. The promotion of Information
                    Technology as a profession is the top priority of CSI today. To fulfill this objective, the CSI
                    regularly organizes conferences, conventions, lectures, projects, awards. And at the same time it
                    also ensures that regular training and skill updating are organised for the IT professionals.
                </span>
            </div>
            <div class="col2">
                <span id="line4">
                    Dr. D.Y. Patil Institute of Engineering, Management & Research
                </span>
            </div>
        </div>
    </div>
</div>

<div class="mbackProperty">
    <div id="mimage"></div>
    <div class="mdata">

        <div class="mcol1">
            <span id='mline1'>
                Welcome To 
                Computer Society Of India
            </span> <br>
            <span id="mline2">
                Dr. D.Y. Patil Institute of Engineering, Management & Research
            </span>

        </div>

    </div>
</div>