<div class="navBar">
    <div class="dekstop">
        <span id="dekstopProperty">
            <img src="assets/logo.png" alt="logo" style="height:60px;">
        </span>
        <span  id="dekstopProperty">
            Home
        </span>
        <span  id="dekstopProperty">
            Events
        </span>
        <span  id="dekstopProperty">
            About
        </span>
        <span  id="dekstopProperty">
            Members
        </span>
        <span  id="dekstopProperty">
            Blog
        </span>
        <span  id="loginDek">
            <span id="loginInner">
                <i class="pi pi-sign-in" style="font-size:20px;padding-right:10px;"></i> Login
            </span>
            
        </span>
    </div>
    <div class="mobile">
        <span id="mBar">
            <i class="pi pi-bars" style="font-size:25px;" data-bs-toggle="offcanvas" href="#offcanvasExample"></i>
            <div  style="background-color: black;color:white;" class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header" style="justify-content: flex-end;">
                  <img src="assets/home/mobile-Icon/close.png" data-bs-dismiss="offcanvas" aria-label="Close" >
                </div>
                <div class="offcanvas-body">
                    <span  id="mProperty">
                       <img src="assets/home/mobile-Icon/Home.png" style="padding-right:15px;"> Home
                    </span>
                    <span  id="mProperty">
                        <img src="assets/home/mobile-Icon/Events.png" style="padding-right:15px;"> Events
                    </span>
                    <span  id="mProperty">
                        <img src="assets/home/mobile-Icon/About.png" style="padding-right:15px;"> About
                    </span>
                    <span  id="mProperty">
                        <img src="assets/home/mobile-Icon/Team.png" style="padding-right:15px;"> Members
                    </span>
                    <span  id="mProperty">
                        <img src="assets/home/mobile-Icon/Blog.png" style="padding-right:15px;">  Blog
                    </span>
                  
                </div>
              </div>
        </span>
        <span id="mlogo">
            <img src="assets/logo.png" alt="logo" style="height:60px;">
        </span>
        <span id="mlogin">
            <span id="mloginInner">
                <i class="pi pi-sign-in" style="font-size:20px;padding-right:10px;"></i> Login
            </span>
        </span>
    </div>
    
</div>