<div class="navBar">
    <div class="dekstop">
        <span id="dekstopProperty">
            <img src="assets/logo.png" alt="logo" style="height:60px;">
        </span>
        <span  id="dekstopProperty">
            Home
        </span>
        <span  id="dekstopProperty">
            Events
        </span>
        <span  id="dekstopProperty">
            About
        </span>
        <span  id="dekstopProperty">
            Members
        </span>
        <span  id="dekstopProperty">
            Blog
        </span>
        <span  id="loginDek">
            <span id="loginInner">
                <i class="pi pi-sign-in" style="font-size:20px;padding-right:10px;"></i> Login
            </span>
            
        </span>
    </div>
    <div class="mobile">
        <span id="mBar">
            <i class="pi pi-bars" style="font-size:25px;" data-bs-toggle="offcanvas" href="#offcanvasExample"></i>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasExampleLabel">CSI DYPIEMR</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <span  id="mProperty">
                        <i class="pi pi-home" style="padding-right: 10px;"></i> Home
                    </span>
                    <span  id="mProperty">
                        Events
                    </span>
                    <span  id="mProperty">
                        About
                    </span>
                    <span  id="mProperty">
                        Members
                    </span>
                    <span  id="mProperty">
                        Blog
                    </span>
                  
                </div>
              </div>
        </span>
        <span id="mlogo">
            <img src="assets/logo.png" alt="logo" style="height:60px;">
        </span>
        <span id="mlogin">
            <span id="mloginInner">
                <i class="pi pi-sign-in" style="font-size:20px;padding-right:10px;"></i> Login
            </span>
        </span>
    </div>
    
</div>