.navBar {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 90px;
  box-shadow: 0px 1px 2px 0px #b3b3b370;
}

#dekstopProperty {
  margin-right: 40px;
  cursor: pointer;
}

#loginDek {
  position: absolute;
  right: 38px;
  height: 60px;

}

#loginInner {
  display: flex;
  height: 100%;
  align-items: center;
  cursor: pointer;
}

.mobile {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#mloginInner {
  padding-right: 20px;
}

#mProperty {
  display: flex;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
  line-height: 55px;
}

@media screen and (min-width:764px) {
  .mobile {
    display: none;
  }
}

@media screen and (max-width:764px) {
  .dekstop {
    display: none;
  }

  .navBar {
    padding-left: 20px;
  }
}
