h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 100px;
  }
  .container1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.875rem 1.25rem;
  }
  #events-title{
    text-align: center;
    color: #fff;
  }
  .container1 .card{
    height:25.0625rem;
    width: 25.0625rem;
    background: #fff;
    margin: 30px 35px;
    border-radius: 40px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  }
  .card-container{
    display: flex;
    overflow: scroll;
    white-space: nowrap;
  }
  .container1 .card .event-pic{
    position: relative;
    background: #0511F2;
    height:13.3125rem;
    border-radius: 40px 40px 20px 20px;
    z-index: 1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  .container1 .card .event-pic img{
    width: 100%;
    height: 100%;
    border-radius: 40px 40px 20px 20px;
  }
  .event-info{
    padding: 10px 30px;
    text-align: center;
    margin:20px 0 15px;
  }
  .event-info-btn{
    text-align:center;
  }
  .event-info-btn p{
    color: #0511F2;
  }

  .button-div{
    text-align: center;
    margin: 30px 0;
  }
  .btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    border:none;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #FF6B00;
    padding: 15px 150px;
    text-decoration: none;
  }

  .btn:hover {
    background: #f06000;
    text-decoration: none;
  }

  .register-btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: #0511F2;
    font-size: 16px;
    background: #FFFFFF;
    padding: 10px 30px;
    border: solid #0511F2 2px;
    text-decoration: none;
}

  .register-btn:hover {
    color: #fff;
    background: #0511F2;
    text-decoration: none;
}
  @media (min-width:1400px){
      .card-container{
        display: flex;
        overflow: hidden;
        white-space: nowrap;
    }
  }