<div id="name">
    Contact us
</div>

<div class="dekstop">
    <div class="dForm">
        <div class="row1">
            <div class="col1">
                <input type="text" placeholder="Full Name" id="inputField">
                <input type="text" placeholder="Email Address" id="inputField">
                <input type="text" placeholder="Password" id="inputField">
                <textarea rows="4" cols="50" placeholder="Message..." id="inputFieldText"></textarea>
                <span id="send">
                    Send
                </span>
            </div>
            <div class="col2">
                <img src="assets/home/contact.webp" width="95%" >
            </div>
        </div>
    </div>
</div>

<div class="mobile">
    <div class="mForm">
        <div class="row1">
            <div class="mcol1">
                <img src="assets/home/contact.webp" style="margin-bottom:10px;height:123px;">
                <input type="text" placeholder="Full Name" id="inputField">
                <input type="text" placeholder="Email Address" id="inputField">
                <input type="text" placeholder="Password" id="inputField">
                <textarea rows="4" cols="50" placeholder="Message..." id="inputFieldText"></textarea>
                <span id="send">
                    Send
                </span>
            </div>
        </div>
    </div>
</div>